html{
    height: 100%;
}

body{
    background-image: linear-gradient(37deg, rgba(242, 105, 166, 0.86), rgba(149, 86, 230, 0.89) 36.97%, rgba(47, 149, 231, 0.84));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

*{
    user-select: none;
    -webkit-user-select: none;
}

button {
    border: none;
  }

.logo{
    margin: 5px;
}

.logo.high{
    height: 150px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgba(60,60,60,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .left-container, .header .right-container{
    height: 100%;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header .logo{
    height: 80%;
}

.header .title.button{
    width: 100%;
}

.header .title-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header .title{
    font-size: 25px;
}

.header .button{
    height: 40px;
    width: 40px;
    margin: 0;
}

.header .dropdown-container{
    display: none;
    position: absolute;
    background-color: rgba(60,60,60,0.4);
    width: 200px;
    z-index: 1;
    flex-direction: column;
    right: 0;
    margin-top: 5px;
}

.header .dropdown.show .dropdown-container{
    display: flex;
}

.header .dropdown-container > a{
    height: 35px;
    width: 190px;
    border-radius: 10px;
    margin: 5px 5px;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    margin-right: 15px;
    margin-left: 15px;
}

.container h2{
    margin-top: 10px;
}

.segment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.button.full-width{
    width: 100%;
}

.button.wide{
    width: 350px;
}

.button{
    background-color: rgba(50, 50, 50, 0.5);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin: 15px 0px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button.no-background{
    background-color: transparent;
}

.button:hover{
    transition: 0.4s;
    background-color: rgba(40, 40, 40, 0.7);
}

.text-center{
    text-align: center;
}

.cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.cards-container.full-width{
    width: 100%;
}

.card{
    background-color: rgba(50, 50, 50, 0.5);
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

.card-title{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.card-title span{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
    padding-top: 5px;
}

.card-container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
}

.card.bright{
    background-color: white;
    color: black;
}

.card.light svg, .card.light svg path, .card.light rect{
    fill:#fecb3e;
}

.card.light.active, .card.light.active svg path, .card.light.active rect{
    background-color: #fecb3e;
    fill: white;
 }

 .card.light.active svg{
    fill: white;
 }

.card svg{
    fill: white;
    fill-rule: evenodd
}

.card-container.action{
    align-items: center;
    justify-content: center;
}

.card-container.action svg{
    height: 80px;
    width: 120px;
}

.card-icon-container{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-icon-container svg{
    height: 40px;
}

.card-icon-container.dual-icon svg{
    width: 35px;
}

.card-value-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    flex-grow: 1;
}

/* Table*/

.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 800px;
    background-color: rgba(40, 40, 40, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .table td,
  .table th {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.3);
  }

  .table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  .table td:first-child {
    font-weight: 600;
    color: white;
    width: 70%;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .table td:last-child {
    text-align: center;
    width: 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

/* Form */

form{
    width: 350px;
}

form.full-width{
    width: 100%;
}

form .input-container{
    height: 60px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container-2{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.input-container-2, .input-container-2 > select {
    width: 100%;
}


input[type="checkbox"]{
    width: 30px;
    height: 30px;
}

form > .input-container.row{
    flex-direction: row;
    justify-content: space-around;
}

form .input-container > label{
    margin-right: 20px;
    font-size: large;
}

form .input-container input{
    height: 30px;
    border-radius: 5px;
    border: 0px;
    font-size: medium;
    background-color: rgba(60,60,60,0.4);
    color: white;
}

form .input-container select{
    height: 32px;
    border-radius: 5px;
    border: 0px;
    font-size: medium;
    background-color: rgba(60,60,60,0.4);
    color: white;
}

form > .input-container > input{
    padding-left: 10px;
}

form > .input-container > input:focus{
    background-color: rgba(60,60,60,0.6);
}

form > label{
    width: 150px;
}

input[type="file"] {
  color: #b8b8b8;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.3);
}

/* Loader */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    background-color: rgba(40, 40, 40, 0.7);
}

.modal-container{
    margin: auto;
    padding: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

  .notification {
    position: fixed;
    z-index: 9999;
    left: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .notification.success {
    background-color: #28a745;
  }
  
  .notification.warning {
    background-color: #ffc107;
  }
  
  .notification.error {
    background-color: #dc3545;
  }
  
/* Positionnement de la première notification */
.notification:first-child {
    bottom: 10px;
  }
  
  /* Positionnement des notifications suivantes */
  .notification:not(:first-child) {
    bottom: calc(10px + 60px * (var(--index) - 1));
  }

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 

@media (max-width: 550px) {
    .header > .left-container > a span {
      display: none;
    }

    .header > .left-container {
        width: 80px;
    }

    .header > .title-container .title#clock, .header > .title-container .title .dash {
        display: none;
    }
  }